<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= message %></h3>
    <h1>Human page</h1>
    <hr>
    <table width="100%" border="1">
        <tr>
            <th>번호</th>
            <th>성명</th>
            <th>이메일</th>
        </tr>
    <% 
        // 이 부분은 자바스크립트 문법
        humanList.forEach(function(human) {
    %>
        <tr align="center">
            <td><%= human.no %></td>
            <td><a href="/human/detail?no=<%= human.no %>"><%= human.name %></a></td>
            <td><%= human.email %></td>
        </tr>
    <%
        });
    %>
    </table>
</body>
</html>