<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사람 정보 상세 보기</h1>
    번호: <%= human.no %><br>
    성명: <%= human.name %><br>
    이메일: <%= human.email %><br>
    직업: <%= human.job %>
    <hr>
    <a href="/human/edit?no=<%= human.no %>">수정</a>
    <a href="/human/delete?no=<%= human.no %>">삭제</a>

</body>
</html>